

.geni big{
  font-size: 33px;
}

.geni p{

line-height: 0.1;
}
a{
  text-decoration: none;
  color: aliceblue;
}


.geni{
border-radius: 4px;
padding:10px;
height: 150px;
background-color:red;
text-align: end;
color: aliceblue;

}
.sum{
max-width: 50%;
background-color:aliceblue;
border-radius: 4px;
border: 1px solid  darkblue;
}
.sum p{
  text-align: center;
  
}

.contact{
max-width: 50%;
line-height: normal;

}