

.geni p {
  
  color:darkorange;
  float: Right;
  margin: auto;

  
}

.geni big{
  font-size: 24px;
}

.geni{

padding:10px;
height: 90px;
background-color: grey;
width:auto;
line-height: 1.2;
text-decoration: none;
}