.foot p{

  color: aliceblue;
}
.contact{
  
  border-radius: 4px;
  text-align: center;
  padding: auto;
}

.foot{
text-align: center;
background-color: darkblue;
border-radius: 4px;


}


.geni p{

line-height: 0.5;
}
a{
  text-decoration: none;
  color: aliceblue;
}


ul{

  list-style-type: circle;
}
.geni{
border-radius: 4px;
padding:10px;
background-color:darkblue;
color: aliceblue;

}
.sum{

border-radius: 4px;
}
.sum p{
  text-align: center;
  
}

.contact{

line-height: normal;

}